@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom Font Definitions */
 

  /* Global Styles */
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Poppins', Arial, sans-serif;
  }

  /* body {
    background-color: black;
    font-family: 'Poppins', Arial, sans-serif;
  } */

  input:-webkit-autofill,
  textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  /* You can add reusable components here if needed */
}

@layer utilities {
  /* Responsive Utilities */
  @media screen and (max-width: 1107px) and (min-width: 1024px) {
    .webDevtext {
      width: 480px;
    }
  }

  @media (max-width: 1107px) {
    .image-height {
      margin-top: 4%;
    }
  }

  @media (max-width: 1119px) {
    .hide-at-1119 {
      display: none !important;
    }
  }

  @media (max-width: 1130px) {
    .hide-at-970 {
      display: none !important;
    }
  }

  @media (max-width: 936px) and (min-width: 768px) {
    .hide-at-936 {
      height: 200px;
      width: 300px;
    }
  }
}


.iconContainer {
  @apply w-8 h-8 flex items-center justify-center rounded-full;
}




.custom-phone-input .flag-dropdown {
  background: rgba(255, 255, 255, 0.2) !important; /* Match input background */
  border-right: 1px solid rgba(0, 123, 255, 0.5) !important; /* Optional border */
  padding-right: 10px;
}

.custom-phone-input .selected-flag {
  background: rgba(255, 255, 255, 0.2) !important; /* Country button background */
  color: white !important;
  border-radius: 0.5rem 0 0 0.5rem !important;
}

.custom-phone-input .country-list {
  background: rgba(9, 20, 36, 0.9) !important; /* Dark dropdown */
  color: white !important;
}

.custom-phone-input .country-list .country {
  color: white !important;
}

.custom-phone-input .country-list .country:hover {
  background: rgba(0, 123, 255, 0.5) !important;
}
