@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom Font Definitions */
 

  /* Global Styles */
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Roboto', Arial, sans-serif;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  /* You can add reusable components here if needed */
}

@layer utilities {
  /* Responsive Utilities */
  @media screen and (max-width: 1107px) and (min-width: 1024px) {
    .webDevtext {
      width: 480px;
    }
  }

  @media (max-width: 1107px) {
    .image-height {
      margin-top: 4%;
    }
  }

  @media (max-width: 1119px) {
    .hide-at-1119 {
      display: none !important;
    }
  }

  @media (max-width: 1130px) {
    .hide-at-970 {
      display: none !important;
    }
  }

  @media (max-width: 936px) and (min-width: 768px) {
    .hide-at-936 {
      height: 200px;
      width: 300px;
    }
  }
}
