@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}





/* Media query for screens between 841px and 941px */
@media screen and (max-width: 941px) and (min-width: 841px) {
  .webDevtext {
    width: 400px;
  }
}

/* Media query for screens 841px or smaller */
@media screen and (max-width: 841px) and (min-width: 768px) {
  .webDevtext {
    width: 320px;
  }
}

@media screen and (max-width: 1030px) and (min-width: 941px) {
  .webDevtext {
    width: 520px;
  }
}


@media (max-width: 1119px) {
  .hide-at-1119 {
    display: none !important;
  }
}

@media (max-width: 1130px) {
  .hide-at-970 {
    display: none !important;
  }
}

@media (max-width: 936px) and (min-width: 768px)  {
  .hide-at-936 {
    height: 200px;
    width: 300px;
  }
}


html {
  scroll-behavior: smooth;
}


